
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px); /* Starts 20px lower */
    }
    to {
        opacity: 1;
        transform: translateY(0);    /* Ends at its normal spot */
    }
}

h1{
    color:rgb(0, 0, 0);
    font-style: bold;
    font-family: "inter", sans-serif;
    font-size: 300%;
    margin-bottom: -2%;
    animation: fadeInUp 1s ease-out;
}


h2{
    color: rgb(185, 185, 185);
    margin-top: 2%;
    font-size: 250%;
    font-family: "inter", sans-serif;
    animation: fadeInUp 1s ease-out;
    
}
h3{
    animation: fadeInUp 1.8s ease-out;
}

p{
    animation: fadeInUp 1.8s ease-out;
}

a{
    color:steelblue;
    animation: fadeInUp 3s ease-out;
}

html{
    background-color:white;
}

*{
    text-align: center;
}

ul {
    display: inline-block; 
    animation: fadeInUp 1.8s ease-out;
}

