h1{
    color:steelblue;
    font-style:italic;
    font-size: 300%;
    margin-bottom: -3%;
}

h2{
    color: lightseagreen;
}

a{
    color:steelblue;
}

html{
    background-color:lavenderblush;
}

*{
    text-align: center;
}

ul {
    display: inline-block; 
}
